#valores {
  margin: 3em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.btn {
  background: #BF5B00;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

.btn .btn-txt {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: rgb(247,123,5);
  background: linear-gradient(90deg, rgba(247,123,5,1) 0%, rgba(248,141,2,1) 39%, rgba(249,163,1,1) 100%);
  color: white;
  transform: translateY(-6px);
}

.btn:active .btn-txt {
  transform: translateY(-2px);
}
