:host {
  max-width: 800px;
  margin: 3em auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

header {
  width: 100%;
}

main {
  margin: 3em 0;
  text-align: center;
}

nav {
  margin: 3em 0;
}
